<!DOCTYPE html>
{% if not conn_db %}
<h1>ERROR:未找到数据库文件</h1>
<h2>解决方案：</h2>
<dl>
    <dt>1.未运行python脚本</dt>
    <dd>在文件中找到 并运行</dd>
    <dt>2.未建立/db文件夹</dt>
    <dd>在根目录下新建文件夹 并命名为 db</dd>
</dl>

{% else %}
<html>
<head>
    <meta charset="UTF-8">
    <title>News Hub</title>

    <!--引入css和jquery库-->
    <link rel="stylesheet" type="text/css" href="static/css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/myStyle.css" />
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="static/js/jquery.flipping_text.js"></script>
    <script type="text/javascript" src="static/js/modernizr.js"></script>
    <script type="text/javascript" src="static/js/my.js"></script>
</head>

<body>
<ul id="menu">
    <li data-menuanchor="firstPage" class="menuList"><a href="#firstPage">主页</a></li>
    <li data-menuanchor="2thPage" class="menuList"><a href="#2thPage">科技</a></li>
    <li data-menuanchor="3thPage" class="menuList"><a href="#3thPage">运动</a></li>
    <li data-menuanchor="4thPage" class="menuList"><a href="#4thPage">娱乐</a></li>
    <li data-menuanchor="5thPage" class="menuList"><a href="#5thPage">社科</a></li>
    <li data-menuanchor="6thPage" class="menuList"><a href="#6thPage">摄影</a></li>
    <li data-menuanchor="7thPage" class="menuList"><a href="#7thPage">美食</a></li>
    <li data-menuanchor="8thPage" class="menuList"><a href="#8thPage">文学</a></li>
</ul>

<div id="ido">
    <div class="section active" id="section0">
        <div class="main">
            <div class="page_container">
                <div class="left_col">
                    <h2 class="intro">欢迎来到News Hub</h1>
                    <h3 data-delay="3000" class="intro">News Hub是由三位软件学院的学生设计并制作的一站式资讯阅读平台</h3>
                </div>
            </div>
        </div>
    </div>
    {% for articles in pages %}
    {% set out_loop = loop %}
    <div class="section" id={{"section"~loop.index}}>
        {% for article in articles %}
        <div class="slide" id={{"slide"~loop.index}}>
            <div class="myContainer">
                <div class="pic-div" id={{"pic-div"~loop.index}}>
                    <a href={{article.link}}>
                        {% if (article.link_img == "NULL") or (article.link_img == "Null") %}
                        <img class="pic-reponsive" src={{"static/images/portfolio-"~loop.index~".jpg"}} />
                        {% else %}
                        <img class="pic-reponsive" src={{article.link_img}} />
                        {% endif %}
                    </a>
                </div>
                <div class="article-div">
                    <div class="article-title">
                        <a href={{article.link}}>
                            <h1 class="article-title">{{article.title | truncate(22, True)}}</h1>
                        </a>
                    </div>
                    <div class="article-content-div">
                        <p class="article-content">{{article.abstract | truncate(400, True)}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</body>
</html>
{% endif %}
